body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

#button {
    padding: 20px;
    font-size: 24px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

#content {
    display: none;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}
